<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Personal Web - Add Project</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
</head>
<body>
    
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg bg-gray">
        <div class="container">
          <a class="navbar-brand me-5" href="/"><img src="../public/dw.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item me-3">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/project"><strong>Add Project</strong></a>
              </li>
            </ul>
            <div class="contact">
                <button type="button" class="btn btn-dark" ><a href="/contact">Contact Me</a></button>
            </div>
          </div>
        </div>
    </nav>
    <!--NAVBAR END-->

    <!--ADD PROJECT-->
    <div class="background">
        <div class="project">
            <div>
                <h1 class="title-project mb-5 pt-5"><strong>ADD MY PROJECT</strong></h1>
            </div>
            <div class="container ">
                <form action='/project' method='POST'>
                    <div class="form-group">
                      <label for="project-name">Project Name</label>
                      <input type="text" class="form-control" id="project_name" name="project_name" aria-describedby="emailHelp">
                    </div>
                    <div class="form-row d-flex">
                        <div class="form-group col-md-6">
                          <label for="start-date">Start Date</label>
                          <input type="date" class="form-control" id="start_date" name="start_date">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="end-date">End Date</label>
                          <input type="date" class="form-control" id="end_date" name="end_date">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="4"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputTechnologies">Technologies</label>
                        <div class="form-row d-flex">
                            <div class="form-group col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="fa-brands fa-html5" id="cekHtml" name="cekHtml">
                                    <label class="form-check-label" for="flexCheckDefault">
                                      Html
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="fa-brands fa-css3-alt" id="cekCss" name="cekCss">
                                    <label class="form-check-label" for="flexCheckChecked">
                                      Css
                                    </label>
                                  </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="fa-brands fa-react" id="cekReact" name="cekReact">
                                    <label class="form-check-label" for="flexCheckDefault">
                                      React Js
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="fa-brands fa-js-square" id="cekJavascript" name="cekJavascript">
                                    <label class="form-check-label" for="flexCheckChecked">
                                      Javascript
                                    </label>
                                  </div>
                            </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="upload-image">Upload Image</label>
                        <input type="file" class="form-control" id="upload_image" name="upload_image" aria-describedby="emailHelp">
                      </div>
                      <div class="form-group-btn">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                  </form>
            </div>
        </div>
        </div>
    <!--ADD PROJECT END-->

</body>
</html>